# Pastas de compilação do .NET / C#
bin/
obj/

# Arquivos temporários e configurações de IDEs (Visual Studio, VS Code, Rider)
.vs/
.vscode/
*.user
*.suo
*.db
*.cache

# Ignorar DLLs e Binários para não pesar o histórico do Git
*.dll
*.pdb
*.exe

# ⚠️ IMPORTANTE: Ignorar as DLLs do jogo/Unity (Direitos Autorais)
# Programadores que baixarem o código devem colar as DLLs do próprio jogo aqui
libs/

# Ignorar arquivos de log caso o jogo gere algum
*.log
